#root {
  text-align: center;
  width: 100%;
}

.recipeImage {
  width: 100%;
  margin: 10px;
  height:180px
}
.recipeCard{
  display: grid;
  align-items: center;
  gap: 20px;
  width: 600px;
  border: 1px solid black;
  border-radius: 6px;
  margin: 20px auto;
  grid-template-columns: 1fr 1fr;
}
.content {
  width: 1000px;
  margin: 0 auto;
}
.cardContent {
  text-align: left;
  margin: 10px;
}

img.menu{
  height: 30%;
  width: 10%;
} 
h2 {
  margin: 0;
}
img.logo{
    height: 60px;
  width: 60px;
  padding: 10px;
}
img.menuIcon{
  height: 60px;
width: 60px;
padding: 10px;

}
.buttonsDiv{
  display: flex;
justify-content: space-between;
}
.mainNav{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #BE5A38;
}
.navbar {
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
}