:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pageName{
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  color: #213547
}
.links {
  text-decoration: none;
  color: #213547;
}
.links:hover {
  text-decoration: none;
}
body {
  background-color: #C1B4AE;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
.menu{
  background-color: #BE7C4D;
 
  width: 160px;
  height: calc(100vh - 84px);
  position: absolute;
  right:-160px;
  transition: right 0.9s ease;
}
.menu.show {
  right: 0;
}
.menuItem {
  font-size: 24px;
  margin: 0;
  padding: 10px;
  border-bottom: #213547 solid 1px;
  text-align: left;
  font-weight: 600;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 10px;
}
.h1div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom:  #213547 solid 1px;
}
.mainContent {
 margin: 10px 5%;
}
.recipeList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
  background-color: #BE7C4D;
    color: black;
  }
}
